/* Estilos padrão para telas maiores */
.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.titulo {
    display: flex;
    min-height: 28vw;
    width: 100%;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    margin-bottom: -5vw;
    padding-left: 11vw;
    padding-bottom: 5vw;
    font-size: 2vw;
}

.tex1 {
    width: 50vw;
    display: flex;
    

    align-items: center;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 5vw;
    font-size: 2vw;
    
    text-align: left;

    margin: -13vw;
    margin-left: -40vw;
    
}
.conjunto{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 20vw;
    padding-bottom: 5vw;
    border-radius: 5vw;
    flex-direction: column;
}
.ramprever{
    color: transparent;
    width: 100%;
    height: 15em;
    position: absolute;
    z-index: -1;
}

.comida{
    width: 9vw;
    height: auto;
    max-width: 320vw;
    position: absolute;
    margin-left: -50vw;
    
    
}
.tex2{

    font-size: 1.5vw;
    text-align: left;
    max-width: 40%;
    margin-left: 10vw;
    
    display: flex;
}
.tex3{
    font-size: 2vw;
    text-align: left;
    max-width: 60%;
    margin-left: 20vw;
    
    display: flex;
}
.pix{
    font-size: 1.5vw;
    text-align: left;
    max-width: 40%;
    margin-left: 10vw;
    
    display: flex;
}
.seta{
    width: 13vw;
    height: auto;
    max-width: 200vw;
    position: absolute;
    margin-left: 25vw;
    margin-top: -15vw;
    display: flex;
}
.tex4{
    display: flex;
    min-height: 2vw;
    width: 100%;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    margin-bottom: 1vw;
    padding-left: 11vw;
    padding-bottom: 5vw;
    font-size: 2vw;
    margin-top: 10vw;
    
    
}
.tex5{
   font-size: 2vw;
    margin: -5vw;
    margin-left: -10vw;
    margin-bottom: 10vw;
    
}
.conjunto2{
    width: 100%;
    /* display: flex;*/
     flex-wrap: nowrap;
     position: relative;
     align-items: center;
     justify-content: center;
     padding-top: 20vw;
     padding-bottom: 5vw;
     border-radius: 5vw;
}
.ver{
    color: transparent;
    width: 100%;
    height: auto;
    z-index: -1;;
    margin-top: -20vw;
}
.quatro{
    width: 80vw;
    height: auto;
    max-width: 2000vw;
    position: absolute;
    margin-left: -90vw;
    margin-top: -1vw;
}
.pote{
    width: 13vw;
    height: auto;
    max-width: 320vw;
    position: absolute;
    margin-left: -50vw;
    margin-top: 30vw;
  
}

.patas{
    width: 8vw;
    height: auto;
    position: absolute;
    margin-left: 60vw;
    transform: translateY(10em);
    display: flex;
}
/* Imagem do osso */
.boneButtonContainer {
    width: 20vw;
    height: 15vh;
    display: flex;
    margin-left: 50vw;
    transition: ease-out;
    transition-duration: 0.2s;
    margin-top: -40vw;
    position: absolute;
  }
  
  .boneButton {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 10vh;
    transform-origin: center;
    transition-duration: 1s;
    transition: transform 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  
  .boneButton:hover {
    transform: scale(1.1);
    color: var(--primary-color);
  }
  
  .boneButton h1 {
    top: 50%;
    font-size: 1.9vw;
    width: 100%;
    cursor: pointer;
    transition: ease-out;
    transition-duration: 0.2s;
  }
  
/* Retângulo Curvo */
.curvyRectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 5vw;
    flex-direction: column;
  }
  
  .CurvyRectangleBg {
    color: transparent;
    width: 100vw;
    height: auto;
    position: absolute;
    z-index: -1;
    padding: 0 2vw;
  }
  
  .rectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
  }
  
  .rectDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rectImage {
    width: 15vw;
    height: auto;
    margin: 0 3em;
    border-radius: 100%;
  }


  /*configurações da parte de coleta*/
  .coletaDisplay1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
    width: 75%;
  }

  .coletaDisplay2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10em;
    padding: 5em;

    width: 100%;
  }

  .coletaBg {
    width: 80%;
    height: 20em;
    position: absolute;
    z-index: -1;
  }

  .coletaT1{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 24px;
    color: black;
  }

  .coletaT2{
    font-size: 2em;
    text-align: center;
    margin: 1.5vw;
    color: black;
  }





























/* Ajustes hara telas menores, como celulares */

  
@media only screen and (max-width: 798px) {

.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titulo{
    font-size: 7vw;
    margin-top: 22vw;
        
}
.conjunto{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
    justify-content: center;

    padding-bottom: 5vw;
    border-radius: 5vw;
    flex-direction: column;
    height: 70vh;
}
.tex1{
    font-size: 6vw;
    text-align: left;
    margin: 0%;
    margin-top: 10vw;
    width: 100vw;
    padding:0 10vw;
    max-width: 100%;    
}
.ramprever {
    height: 100%;
    width: 170vw;
    
    display: block;
}
.comida {
    width: 6em;
    margin-left: 15vw; /* Ajuste conforme necessário */
    display: block;
    margin-left: 70vw;
    margin-top: 60vw;
    
}
    
.tex2 {
    margin-top: 10vw;
    font-size: 7vw !important;
    text-align: center;
    margin-left: 0;
    max-width: 100%;
   
    
}

.tex3 {
    
    text-align: center;
    margin: 0%;
    font-size: 8vw;
    width: 100vw;
    padding:0 10vw;
    max-width: 100%; 
    margin-left: 0vw;
    margin-top: 5vw;
    
}

.pix {
    
    text-align: center;
    display: flex;
    margin-top: 4vw;
    font-size: 5vw !important;
    max-width: 60%;
    margin-left: -5em;
}

.seta {
    width: 30vw;
    height: auto;
    max-width: 100vw;
    display: flex;;
    margin-top: -110vw;
    margin-left: 80vw;
}
    
    
.tex4 {
    margin-top: 20vw;
    font-size: 7vw;
    max-width: 100vw;
}

.tex5 {
    font-size: 8vw;
    padding:0 13vw;
    max-width: 100%; 
    
}

.ver {
    width: 110vw; /* Ajuste conforme necessário */
    transform: translateY(4vw);
    margin-left: -3vw; /* Ajuste conforme necessário */
    display: block;
}
.quatro {
    width: 90vw; /* Ajuste conforme necessário */
    transform: translateY(-35vw);
    margin-left: 2em; /* Ajuste conforme necessário */
    display: block;
}
.pote {
    width: 20vw;
    transform: translateY(-33vw);
    margin-left: 17vw; /* Ajuste conforme necessário */
    display: block;
}
.patas{
    width: 15vw;
    height: auto;
    position: absolute;
    margin-left: 60vw;
    transform: translateY(20em);
    display: flex;
}
.coletaBg {
    width: 100%;
    height: 35em;
    position: absolute;
    z-index: -1;
    margin-top: 10vw;
  }

.coletaDisplay2 {
    flex-direction: column;
    align-items: center;
}
.coletaT1{
    font-size: 8vw;
    text-align: center;
    margin: 1.5vw;
    color: black;
  }
.coletaT2{
    font-size: 6vw;
    text-align: center;
    color: black;
  }

}