/* Estilo para o card especial de adição */
.addCard {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #007bff;
    border-radius: 10px;
    height: 400px; /* Altura fixa */
    width: 300px;
    font-size: 3rem; /* Tamanho grande para o símbolo de + */
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none; /* Evita que o usuário selecione o texto */
}

.addCard:hover {
    background-color: #e6f0ff; /* Cor de fundo ao passar o mouse */
}

.addCardForm {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinhar itens à esquerda */
    flex-direction: row; /* Itens lado a lado */
    border: 2px dashed #007bff;
    border-radius: 10px;
    height: 400px;
    width: 90vw;
    color: #007bff;
    background-color: #f2f6fd;
    padding: 1rem; /* Espaçamento interno para não tocar nas bordas */
}

.formCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar itens à esquerda */
    justify-content: center;
    width: 75%; /* Ajuste conforme necessário */
}

.imageUploadSection {
    width: 25%; /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ccc; /* Linha divisória entre a imagem e o formulário */
    padding: 1rem; /* Espaçamento interno */
}

.inputField, .textareaField {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputField:focus, .textareaField:focus {
    outline: none;
    border-color: #007bff;
}

.inputField::placeholder, .textareaField::placeholder {
    color: #ccc;
}

.textareaField {
    height: 100px; /* Altura do textarea */
    resize: vertical; /* Permite redimensionamento vertical */
}

.cardCommon{
    width: 300px;
    height: 400px;
}

.button{
    padding: 10px;
    margin: 0px 6px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.salvar{
    background-color: rgb(7, 151, 26);
}

.salvar:hover{
    background-color: rgb(12, 102, 24);
}

.cancelar{
    background-color: #dc3545;
}

.cancelar:hover{
    background-color: #c82333;
}

.dataPublicacao {
    font-size: 16px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    margin-top: 10px; /* Espaço superior */
    padding: 5px; /* Espaçamento interno */
    background-color: #f0f0f0; /* Cor de fundo */
    border-radius: 5px; /* Bordas arredondadas */
    display: inline-block; /* Torna o elemento em linha para que o texto fique ao lado */
}