.card {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  width: 90vw; /* Ajuste para corresponder ao layout de adição */
  height: auto;
}

.imageSection {
  width: 25%; /* Ajuste conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.imageSection img {
  width: 100%;
  max-height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.contentSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 75%;
}

.card h2 {
  color: #333333; /* Cor do título */
  margin-bottom: 10px; /* Espaço abaixo do título */
}
  
.card p {
  color: #666666; /* Cor do texto */
  margin-bottom: 10px; /* Espaço abaixo do parágrafo */
}

.cardButtons {
  display: flex;
  justify-content: flex-start; /* Alinha os botões horizontalmente */
  gap: 10px; /* Espaçamento entre os botões */
}

.card button {
  border: none;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remover {
  background-color: red !important;
}

.remover:hover {
  background-color: rgb(197, 1, 1) !important;
}

.editar {
  background-color: rgb(10, 33, 163) !important;
}

.loading {
  margin-top: 20px;
}
