.footer {
  position: absolute;
  left: 0;
  top: auto;
  width: 100vw;
  background: var(--footer-color);
  color: rgb(255, 255, 255);
  padding-top: 3vw;
}

.footer cap {
  position: absolute;
  bottom: 100%;
  width: 100%;
  z-index: 10;
}

.capImage {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -6px;
  z-index: -2;
}

.footerContainer {
  width: 100vw;
  margin-bottom: 5vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 10%;
}

.addressContainer{
  display: flex;
  flex-direction: column;
  max-width: 35%;
  width: 512px;
  padding: 1em;

  /* Centralizar img */
  align-items: center;
  justify-content: center;
}

.addressContainer h2{
  color: black;
  text-align: center;
  font-size: xxx-large;
}

.contatoCollumn {
  max-width: 50%;
  box-sizing: border-box;
  padding: 1em;
  margin-left: 30px;
}

.contatoCollumn u1 {
  list-style: none;
  margin-top: 1.5rem;
  display: block;
  height: 100%;
}

.contatoCollumn u1 li {
  width: 100%;
  margin-bottom: 0.7rem;
}

.contatoCollumn u1 li input{
  width: -webkit-fill-available;
  min-height: 28px;
}

.contatoCollumn u1 li textarea{
  width: -webkit-fill-available;
  min-height: 120px;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.centeredImage {
  color: transparent;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  max-width: 6vw;
}

.addressText{
  text-align: center;
  text-wrap: pretty;
  color: black;
  padding: 5px;
  font-size: xx-large;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle {
  min-width: 500px;
  min-height: 500px;
  border-radius: 50%;
  background: #91ebd4;
  z-index: -1;
}

.content {
  max-width: 500px;
  background: transparent;
  padding: 20px;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.content h3 {
  margin-top: 10px;
}
  
.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
  
.buttonsWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.content h1 {
  font-size: 36px;
}

.content h2 {
  margin-top: 10px;
}

.content h3 {
  margin-top: 10px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.buttonsWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* adiciona margin a todos os filhos da div */
.buttonsWrap *{
  margin: 1vw;
}

.button {
  flex: 1;
  position: relative;
  max-width: 12em;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.btnImage {
  width: 4vw;
  height: auto;
  filter: invert(1);
}

.miscImage {
  color: transparent;
  max-width: 10vw;
  width: 120px;
  max-height: 10vw;
  height: 120px;
  position: absolute;
}

.text {
  flex-grow: 1;
  margin-right: 25%;
  white-space: nowrap;
}

.footerItem{
  width: 30%;
  margin-left: 10%;
  padding-left: 10%;
  border-left: black 2px solid;
  border-left-style: dashed;
}

.footerItem p{
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 23px;
  letter-spacing: 0px;
  color: black;
}

.footerItem ul{
  list-style: disc;
  margin-top: 1.5rem;
  color: black;
}

.footerItem ul li{
  width: 100%;
  margin-bottom: 0.7rem;
}

.footerItem ul li a{
  color: black;
  text-decoration: none;
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
}

.apaLogo{
  color: transparent;
  width: -webkit-fill-available;
  height: fit-content;
  align-self: center;
  margin-bottom: 2em;
  width: 25vw;
}



.feitoPorButtonContainer{
  display: flex;
}
.feitoPorButtonContainer a{ 
  background-color: var(--dimmed-navbar-color);
  padding: 10px;
  border-radius: 5px;
  color: var(--dark-color);
  
}

@media screen and (max-width:719px){
  .apaLogo{
    margin-top: 2.5em;
    margin-bottom: 0;
    width: 40vw;
  }

  .footerItem{
    margin-left: 0;
  }

  .footerItem ul{
    margin-top: 10vw;
  }

  .footerItem ul li a{
    color: black;
    text-decoration: none;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
  }

  .addressContainer{
    max-width: 55%;
    padding: 0em;
    padding-right: 5vw;
  }

  .addressText{
    font-size: x-large;
  }

  .addressContainer h2{
    font-size: xx-large;
  }

  .centeredImage {
    max-width: 15vw;
  }

  .btnImage {
    width: 8vw;
  }

}