/*Title Config*/

.display{
    display: flex;
    margin-top: 75px;
    min-height: 1900px;
}

.titleBg{
    width: 100vw;
    min-height: 20vw;
    padding: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    overflow-x: clip;
    overflow-y: visible;
    position: absolute;
    z-index: -1;
    background: var(--footer-color);
}

.titleImage{
    position: inherit;
    width: 120vw;
    height: auto;
    left: -10vw;
    z-index: -1;
}

.titleImageMisc{
    max-width: 15vw;
    height: auto;
    float: right;
}

.titleImagePaws{
    position: absolute;
    bottom: -100%;
    height: auto;
    z-index: -1;
    margin: 2vw;
    width: 10vw;
    left: 0;
}

.titleText{
    color: black;
    margin-top: 3vw;
    font-size: 5vw;
}


/*Cards Container*/

.mainContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding-bottom: 15vw;
    padding-top: 25vw;
    justify-content: space-around;
}


@media only screen and (max-width: 798px) {

    .titleBg{
        padding: 5vw;
        text-align: center;
        width: 100vw;

    }

    .titleBg h2{
        font-size: 2rem;
        padding-bottom: 0;
    }

    .titleImage{
        width: 170%;
        object-fit: cover;
    }

    .titleImageMisc{
        position: absolute;
        display: flex;
        margin-right: 10vw;
        margin-top: 25%;
        right: 0;
    }

    .titleImagePaws{
        width: 15vw;
    }

    .mainContainer{
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
    
        justify-content: unset;
    }

}