.herodiv {
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;

    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1; /* Ensure the div appears on top of the image */
  }
  
  .herodiv h1 {
    font-size: 4em;
  }
  
  .herodiv p {
    font-size: 1.2em;
  }
  