/* Seção Hero */


.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
  z-index: 1;
  margin-top: -5vh;
}

.BackgroundImage {
  width: 100%;
  height: fit-content;
  position: relative;
  z-index: -1;
}


.heroContainer h1 {
  font-size: 5vw;
  color: #101010;
}

.heroContainer p {
  font-size: 2vw;
  color: #101010;
  font-weight: 600;
}

/* Seção de Imagens */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.singleImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32vw;
  height: 30vh;
  margin: 0 3vw;
}

.responsiveImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.textBox {
  transform: translateY(-2rem);
}

/* Seção de Ajuda */
.helpContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70vh;
  margin-bottom: 5em;
  margin-top: -5rem;
  padding: 10vw;
}

.helpText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.helpText h1 {
  font-size: 3vw;
}

.helpText p {
  margin-top: 1em;
  font-size: 1.6vw;
}

/* Círculo do Cachorro */
.circleDogImage {
  width: 100%;
  height: 100%;
  z-index: 3;
}

.dogCircle {
  float: right;
  width: 30vw;
  border-radius: 100%;
  background-color: #fff;
  z-index: 3;
}

/* Seção de Linhas */
.linesContainer {
  float: right;
  width: 10em;
  height: auto;
  margin-top: -30vh;
  margin-right: 30vw;
}

.linesImage {
  position: absolute;
  width: 20vw;
  height: auto;
  z-index: 2;
}

/* Bola e Osso */
.ballAndBoneContainer {
  width: 10vw;
  height: auto;
  margin-left: 2rem;
  transform: translateY(-15rem);
}

.ballAndBoneImage {
  width: 100%;
  height: 100%;
}

/* Patas */
.pawsContainer {
  position: absolute;
  width: 15vw;
  height: auto;
  z-index: 2;
  margin-left: 80vw;
  margin-top: 75vh;
}

.pawsImage {
  width: 100%;
  height: auto;
}

/* Retângulo Curvo */
.curvyRectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 5vw;
  flex-direction: column;
}

.CurvyRectangleBg {
  color: transparent;
  width: 100vw;
  height: auto;
  position: absolute;
  z-index: -1;
  padding: 0 2vw;
}

.rectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.rectDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectImage {
  width: 17vw;
  height: auto;
  margin: 0 3em;
  border-radius: 100%;
}

/* Imagem do osso */
.boneButtonContainer {
  width: 20vw;
  height: 15vh;
  display: flex;
  margin-left: -50vw;
  transition: ease-out;
  transition-duration: 0.2s;
}

.boneButton {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 10vh;
  transform-origin: center;
  transition-duration: 1s;
  transition: transform 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.boneButton:hover {
  transform: scale(1.1);
  color: var(--primary-color);
}

.boneButton h1 {
  top: 50%;
  font-size: 1.9vw;
  width: 100%;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.2s;
}

/* Seção de Linhas 2 */
.linesContainer2 {
  float:left;
  width: 20rem;
  height: auto;
  margin-top: -25vw;
  margin-left: 40vw;
}

.linesImage2 {
  position: absolute;
  width: 20vw;
  height: auto;
  z-index: -1;
  transform: rotate(90deg);
}

.pawsContainer2 {
  position: absolute;
  width: 5vw;
  height: auto;
  z-index: 2;
  margin-left: 40vw;
  margin-top: -20vh;
  transform: rotate(230deg);
}

.pawsImage2 {
  width: 100%;
  height: auto;
}


/* MOBILE */


/* Media query for mobile screens */
@media screen and (max-width:719px) {
    /* Seção Hero */

  .BackgroundImage {
    object-fit: cover;
  }
  
  .heroContainer {
    padding: 3vh;
    margin-top: -20vw;
  }

  .heroContainer h1 {
    font-size: 12vh;
  
  }

  .heroContainer p {
    font-size: 4vh; 
  }

    /* Seção de Imagens */

  .singleImageContainer {
    width: 40vw;
    height: 30vh;
  }

    /* Seção de Linhas */
  .linesContainer {
    float: left;
    width: 10vw;
    margin-top: -20vh;
    margin-left: 30vw;
    transform: rotate(10deg);
  }

  .linesImage {
    width: 20vh;
  }

  /* Bola e Osso */
  .ballAndBoneContainer {
    float: right;
    width: 18vw;
    height: auto;
    margin-right: 11vw;
    transform: translateY(-12rem);
  }

  .ballAndBoneImage {
    width: 100%;
    height: 100%;
  }

  /* Patas */
  .pawsContainer {
    margin-left: 14vw;
    margin-top: -5vh;
    width: 17vw;
    transform: rotate(170deg);
  }
  
    /* Seção de Ajuda */
  .helpContainer {
    flex-direction: column-reverse;
    text-align: center;

    margin-top: 20vh;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .helpText {
    width: 90%;
    height: 100%;
  }

  .helpText h1 {
    font-size: 11vw;
  }

  .helpText p {
    font-size: 5vw;
  }

  /* Círculo do Cachorro */


  .dogCircle {
    width: 70vw;
    margin-bottom: 3vh;
  }

  
  .curvyRectangle {
    flex-direction: column;
    justify-items: start;
    height: 80vh;
    margin-bottom: 10vh;
  }
  
  
  .rectContainer {
    justify-content: center;
    width: 100vw;
  }

  .rectDiv:not(:first-child) {
    display: none;
  }

  .rectImage{
    width: 32vh;
  }

    /* Imagem do osso */
  .boneButtonContainer {
    position: absolute;
    width: 100vw;
    height: 15vh;
    display: flex;
    margin-left: 0;
    margin-top: 60vh;


  }

  .boneButton h1 {
    font-size: 5vw;
  }

  .linesContainer2 {
    float:left;
    width: 20rem;
    height: auto;
    margin-top: -25vw;
    margin-left: 40vw;
  }
  
  .linesImage2 {
    display: none;
    position: absolute;
  }
  
  .pawsContainer2 {
    display: flex;
    width: 10vh;
    margin-top: 4vh;
    margin-left: 65vw;
  }
  
  .pawsImage2 {
    width: 100%;
    height: auto;
  }
}