.textUploadButton{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    cursor: pointer;
    font-size: 16px;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textUploadButton:hover{
    background-color: #665f5f;
    border-color: #000000;
    color: #fff;
}

.imageContainer {
    position: relative;
    display: inline-block; /* Para conter a sombra da imagem */
}
  
.buttonX {
    position: absolute;
    top: 10px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário */
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente */
    color: white;
    border: none;
    border-radius: 50%; /* Botão circular */
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Transição suave para o hover */
}

.buttonX:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Mais escuro ao passar o mouse */
}
  
.image {
    display: block;
    width: 180px;
    border-radius: 5px; /* Borda ligeiramente arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
  