
/* card stuff */
.card{

    width: 40vw;
    min-height: 30vw;

    align-self: center;
    justify-self: center;
    text-align:justify;
    margin-bottom: 2vw;

    z-index: 2;

    cursor: pointer;

    transition: transform 0.1s ease-out;
    background-color: white;
    border-radius: 2%;
}

.card:hover{
    transform: scale(1.01);
}

.cardContainer{
    height: 20vw;
    text-align: left;
}

.cardImageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10px;
}

.cardImage{
    width: 95%;
    height: 80%;
    object-fit: cover;
    object-position: center;

}

.cardText{
    padding: 0 4%;
}

.cardText h2{
    font-size: 2vw;
}


@media only screen and (max-width: 798px) {
    .card{
        width: 85vw;
        height: 75vw;
        margin-bottom: 5vw;
        line-height: 5vw;
        font-size: large;
    }

    .cardContainer{
        height: 50vw;
    }

    .cardText h2{
        font-size: 1.8rem;
    }
    
}