.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Mudança para iniciar o conteúdo do topo */
    min-height: 100vh;
    padding: 2rem;
    width: 100%;
    background-color: #f0f0f0; /* Cor de fundo suave */
    font-family: 'Arial', sans-serif; /* Tipografia moderna */
    color: #111; /* Cor do texto mais escura para melhor legibilidade */
    gap: 1rem; /* Espaço entre os elementos filhos */
    overflow-y: hidden;
}

/* Estilo adicional para o título e botão */
.main h1 {
    color: #111;
    margin-bottom: 1rem; /* Espaço abaixo do título */
    font-size: 2rem; /* Tamanho do título */
}

.cardGrid {
    display: flex;
    justify-content: center; /* Centraliza os cards no eixo horizontal */
    flex-wrap: wrap; /* Permite que os itens sejam quebrados para a próxima linha */
    gap: 1rem; /* Espaço entre os cards */
    margin-top: 2rem;
    margin-left: auto; /* Centraliza horizontalmente o container */
    margin-right: auto; /* Centraliza horizontalmente o container */
    max-width: calc(990px + 2rem); /* Largura total de 3 cards com espaçamento */
}

.cardGrid > * {
    flex: 0 0 300px; /* Define que cada card terá 300px de largura e não crescerá ou encolherá */
    max-width: 300px; /* Define a largura máxima para corresponder à largura fixa */
}

/* Estilo para o card especial de adição */
.addCard {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #007bff;
    border-radius: 10px;
    height: 400px; /* Altura fixa */
    width: 300px;
    font-size: 3rem; /* Tamanho grande para o símbolo de + */
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none; /* Evita que o usuário selecione o texto */
}

.addCard:hover {
    background-color: #e6f0ff; /* Cor de fundo ao passar o mouse */
}

.addCardForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #007bff;
    border-radius: 10px;
    height: 400px; /* Altura fixa */
    width: 300px;
    font-size: 3rem; /* Tamanho grande para o símbolo de + */
    color: #007bff;
    background-color: #f2f6fd;
}

.formCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputField {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputField:focus {
    outline: none;
    border-color: #007bff;
}

.inputField::placeholder {
    color: #ccc;
}

.cardCommon{
    width: 300px;
    height: 400px;
}

.button{
    padding: 10px;
    margin: 0px 6px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.salvar{
    background-color: rgb(7, 151, 26);
}

.salvar:hover{
    background-color: rgb(12, 102, 24);
}

.cancelar{
    background-color: #dc3545;
}

.cancelar:hover{
    background-color: #c82333;
}