/* page.module.css */

/* Estilos para a página principal */
.main {
    padding: 20px;
    text-align: center;
}

.main h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para o formulário de adição de animais */
.addCardForm {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px dashed #0056b3;
  padding: 20px;
  margin-bottom: 20px;
  height: 600px !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.addCardForm img{
  max-height: 200px !important;
  width: auto !important;
  max-width: 100% !important;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
}

.textArea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
}

.selectUnidadeTempo {
  flex: 0.48;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
  
/* Estilos para os botões */
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.salvar {
  background-color: #4caf50;
  color: #fff;
}

.cancelar {
  background-color: #f44336;
  color: #fff;
}
  
/* Estilos para o ícone de carregamento */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
  
/* Estilos para o ícone '+' de adição de animais */
.cardAdd {
  background-color: #007bff;
  color: #fff;
  font-size: 48px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}
  
.cardAdd:hover {
  background-color: #0056b3;
}
  
/* Estilos para a grade de cartões de animais */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
  
/* Adicione estilos para o novo campo select 'porte' */
.selectPorte {
  flex: 0.48;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Estilos para o ícone '+' no cartão de adição de animais */
.cardAdd span {
  font-size: 48px;
  cursor: pointer;
}

/* Adicione estilos para o novo campo select 'porte' */
.selectPorte {
    flex: 0.48;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Estilos para o ícone '+' no cartão de adição de animais */
  .cardAdd span {
    font-size: 48px;
    cursor: pointer;
  }
  
  /* Estilos adicionais para o novo campo 'selectPorte' */
  .selectPorte {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
  }